<template>
 <!-- header -->
 <div>

   <a name="top-section"></a>
    <header>

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">KUBUY</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>


                    </ul>
                    &nbsp; &nbsp;
                    <!-- <form class="form-inline custom-position">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search Products" aria-label="Search">
                    </form> -->
                    <!-- <search :items="products"></search> -->
                    <Autocomp :products=" allproducts"/>
                    
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item dropdown">
                           
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account
                                    </a>
                                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item waves-effect waves-light" href="#">Login</a>
                                <a class="dropdown-item waves-effect waves-light" href="#">Sign up</a>
                            </div>
                            
                         
                        </li>
                             &nbsp; &nbsp;
                        <li class="nav-item ">
                            <a class="nav-link waves-effect waves-light" href="#" data-toggle="modal" data-target="#cartModal"> &nbsp; &nbsp; cart   &nbsp;<i class="fa fa-shopping-cart"></i> <span class="badge badge-pill orange">{{cartCount}}</span><span class="sr-only">(current)</span></a>
                        
                     </li>
                    </ul>




                </div>
            </div>
        </nav>
        <!--/.Navbar-->

    </header>
  
     <main>


        <!--Main layout-->
        <div class="container">
            <div class="row">
                
                <!--Sidebar-->
                <div class="col-lg-3 wow fadeIn " data-wow-delay="0.2s">

                    <div class="widget-wrapper sidebar-fixed-left " id="fixed-div">
                        <h4>Categories:</h4>
                        <br>
                        <div class="list-group">
                             <template v-for="category in categories">

                            <!-- <router-link :to="{}"  :key="category.id" class="list-group-item my-ls"><span style="color:#ddd;">{{category.name}}</span></router-link> -->
                            <a  href="#" @click="changeroute(category.id)" :key="category.id" class="list-group-item my-ls"><span style="color:#ddd;">{{category.name}}</span></a>
                                        </template>
                           
                        </div>
                    </div>
 
 
                    

                </div>
                <!--/.Sidebar-->

      
       
        <router-view :key="$route.fullPath"></router-view>
  
  
      </div>
    <cart-modal></cart-modal>
    </div>
        <!--/.Main layout-->
    <div class="fixed-action-btn smooth-scroll" style="bottom: 45px; right: 24px;">
            <a href="#top-section" class="btn-floating btn-large ">
                <i class="fa fa-arrow-up custom-up"></i>
            </a>
        </div>


    </main>

    <!--Footer-->
    <footer class="page-footer center-on-small-only">

        <!--Footer links-->
        <div class="container-fluid">
            <div class="row">
                <!--First column-->
                <div class="col-lg-3 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>About material design</strong></h5>
                    <p>Material Design (codenamed Quantum Paper) is a design language developed by Google.</p>
                    <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS framework - Bootstrap.</p>
                </div>
                <!--/.First column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Second column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>First column</strong></h5>
                    <ul>
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--/.Second column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Third column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>Second column</strong></h5>
                    <ul>
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--/.Third column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Fourth column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>Third column</strong></h5>
                    <ul>
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--/.Fourth column-->
            </div>
        </div>
        <!--/.Footer links-->
        <hr>

        <!--Call to action-->
        <div class="call-to-action">
            <h4 class="mb-5">Material Design for Bootstrap</h4>
            <ul>
                <li>
                    <h5>Get our UI KIT for free</h5>
                </li>
                <li><a target="_blank" href="https://mdbootstrap.com/getting-started/" class="btn btn-primary" rel="nofollow">Sign up!</a></li>
                <li><a target="_blank" href="https://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-default" rel="nofollow">Learn more</a></li>
            </ul>
        </div>
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2015 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
 </div>
</template>
<script>
import Autocomp from './search'

    export default {
         name:'App',
         components:{
             Autocomp
         },
        data(){
            return{
                 placeholder:'',
                 item:'',
                 products:[]
            }
     

        },
  mounted() {
            console.log('Component mounted.')
         
            this.$store.dispatch('allcategories')

             this.$store.dispatch('allProducts')

        },
        methods:{
                customerSelected(customer) {
      console.log(`Customer Selected:\nid: ${customer.id}\nname: ${customer.name}`);
    },
    onChange(value) {
      // do something with the current value
    },
            // togglePlaceholder(){
            //     this.placeholder='';

            // },
            changeroute(category_id){

                 this.$router.push({name:'prod_cat', params:{id:category_id}})
            }


        },
        computed:{
                    categories(){

                        // return window.localStorage.getItem('myvuex').categories
                        return this.$store.getters.categories
                    },
                    
                 allproducts(){
                
        
                     return this.$store.getters.allProducts
            },
            cartCount(){

                return this.$store.getters.cartItems.length
            }

            }
      
    }
</script>
