<template>
    <div>
         <!-- Cart Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-lg" role="document">


      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabel">MY PRODUCTS</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <p v-if="items.length ==0">Your Shopping Cart is Empty!</p>

         <table class="table table-striped">
 
            <tr  v-for="cartitem in incart" :key="cartitem.id">
             <td><img :src="'./../../storage/uploads/products/' + cartitem.itemPhoto" class="item-image" height="50px" width="50px"></td>
                 <td >{{cartitem.itemName}}</td>
                  <td >@{{cartitem.itemPrice}}</td>
                  <td >&times;{{cartitem.itemqty}}</td>
                <td ><button type="button" @click="inc(cartitem.itemId)" class="btn btn-primary">+</button></td>
                <td ><button type="button" @click="dec(cartitem.itemId)" class="btn btn-primary">-</button></td>
                <td ><span>Amount: {{cartitem.itemqty * cartitem.itemPrice}}</span></td>
                <td ><button type="button" @click="remove(cartitem.itemId)" class="btn btn-danger btn-sm">&times;</button></td>
            </tr>
  
 
          </table>
        </div>
        <div class="modal-footer">
          <span style="float:left;">TOTAL =&nbsp; KES.{{total}}</span>
          <button type="button" class="btn btn-primary btn-sm">CHECK OUT</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Cart Modal -->
    </div>
</template>
<script>
export default {
    name:'cart-modal',
    // props:{
    //     cartproducts:{
    //         require:true,
    //    type:Array
    //     }
    // },
    data(){
        return{
            items:[]
        }
    },
    computed:{
        incart(){

            return this.$store.getters.cartItems
            
        },
          total () {
            return _.sumBy(this.incart, (item)=> {
              return (item.itemPrice * item.itemqty)
            })
          }
        },
    methods:{
      
         inc(itemid){
                      let found = _.find(this.incart, ['itemId', itemid])
                      console.log(found)
                        if(typeof found == 'object') {
                          let index = _.indexOf(this.incart, found)
                          console.log(index)
                          this.incart[index].itemqty++
                    }

            },
            dec(itemid){
                      let found = _.find(this.incart, ['itemId', itemid])
                      
                        if(typeof found == 'object') {
                          let index = _.indexOf(this.incart, found)
                          if (this.incart[index].itemqty ==1){
                            this.$store.dispatch('remove_from_cart',itemid)
                          }
                          else
                          {
                        this.incart[index].itemqty--
                          }
                    }

            },
            remove(itemid){

             this.$store.dispatch('remove_from_cart',itemid)


            }
    }
}
</script>

