<template>
<!--Main column-->
                <div class="col-lg-9">


                    <!--First row-->
                    <!-- <div class="row">

                    </div> -->
                    
                    <div class="row wow fadeIn" data-wow-delay="0.4s">
                        <div class="col-md-5">
                        <h2>{{product.name}}</h2>
                        <!-- product image -->
                        <img :src="'./../../storage/uploads/products/'+product.image" class="image-fluid" height="400px" width="450px" alt="product image">
                    </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <h3>KES. {{product.price}}</h3>

                            <star-rating v-model="rating" :star-size="30" :increment="0.5"></star-rating>
                            
<button type="button" class="btn btn-default btn-sm "><i class="fa fa-star"></i>&nbsp; Click to rate</button>                            
                            <!--Product-->
                       
                        <br>
                        <br>
                        <div  v-if="!cartitem.length==0" >
                            <h5 >Quantity in cart</h5>  
                            <table class="table table-stripped">
                                <tr>
                                  <td>  <div style="width: 2rem;">
                       
                <input type="text" :value="cartitem[0].itemqty" id="exampleForm2"  readonly></div>
                </td>
                <td ><button type="button" @click="inc(product.id)" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></button></td>
                <td ><button type="button" @click="dec(product.id)" class="btn btn-primary btn-sm"><i class="fa fa-minus"></i></button></td>
                <td ><span >Amount: KES &nbsp;{{cartitem[0].itemqty * cartitem[0].itemPrice}}</span></td>
                                </tr>
                                
                            </table>
                            </div>
                    <button type="button" @click="add_to_cart(product)" class=" btn btn-default btn-sm "><i class="fa fa-shopping-cart"></i>&nbsp;add to cart</button>                            


                        </div>
                    </div>
                    <!--/.First row-->
                    <br>
                    <br>
                            <!-- second row -->
                    <div class="row">
                            
                            <div class="col-md-12">
                                    <h3>Related Products</h3>
                                <!--Carousel Wrapper-->


                                <!-- <infinite-slide-bar>

                                
                                <div  >

                                    <div class="col-md-4 tweak" :key="r_product.id" v-for="r_product in related">
                                      <div class="card mb-2">
                                        <img class="card-img-top" :src="'./../../storage/uploads/products/'+r_product.image"
                                          alt="Card image cap">
                                        <div class="card-body">
                                          <h4 class="card-title">{{r_product.name}}</h4>
                                          <p class="card-text">{{r_product.description}}</p>
                                          <a class="btn btn-primary" >VIEW MORE</a>
                                        </div>
                                      </div>
                                    </div>

                                    

                                  </div>
                                
                                </infinite-slide-bar> -->
                                 

                                </div>
 


<!--/.Carousel Wrapper-->

                           
                    </div>
            <!-- /. second row -->
                </div>
                <!--/.Main column-->
</template>
<script>
     import {ADD_TO_CART,REMOVE_FROM_CART} from './main_store/mutation-types'
      import InfiniteSlideBar from 'vue-infinite-slide-bar'

export default {
  components: {
        'infinite-slide-bar':InfiniteSlideBar
      },
    data(){
        return{
            prod_id:'',
            product:{},
            rating:3,
            product_reviews:[],
             activeSlide: 0
            // cartitem:{}
            
        }
    },
        created() {
            this.prod_id=this.$route.params.id
            this.products=this.$store.getters.allProducts
            this.product=_.find(this.products,['id',this.prod_id])
            this.get_reviews

    },
    mounted(){
this.$store.subscribe((mutation,state)=>{
                 switch(mutation.type) {

                 case 
                 ADD_TO_CART:
                 
                   this.$toastr('info', 'Product added to cart', 'success')
              
                   break
      
                 
                 }
           })
        }
    ,
    computed:{
        incart(){

           return  this.$store.getters.cartItems
 
        },
        cartitem(){
            

               return  this.$store.getters.cartItems.filter(p => {
                return    p.itemId==this.prod_id})
        
             
        },
        related(){
             return  this.$store.getters.allProducts
        }
    },
    methods:{
        
         add_to_cart(product){

              let found=_.find(this.incart, ['itemId', product.id])
              // if (found){
              //   this.inc(product.id)
              // }
             if(typeof found == 'object') {
               this.inc(product.id)
             }
              else{
               this.$store.dispatch('add_to_cart',{
                 itemId:product.id,
                itemPhoto:product.image,
                itemName:product.name,
                itemPrice:product.price,
                itemqty:1
               })

             }
    
            },
            
            inc(itemid){
                      let found = _.find(this.incart, ['itemId', itemid])
                      console.log(found)
                        if(typeof found == 'object') {
                          let index = _.indexOf(this.incart, found)
                         // console.log(index)
                          this.incart[index].itemqty++
                    }

            },
            dec(itemid){
                      let found = _.find(this.incart, ['itemId', itemid])
                      
                        if(typeof found == 'object') {
                          let index = _.indexOf(this.incart, found)
                          if (this.incart[index].itemqty ==1){
                            this.$store.dispatch('remove_from_cart',itemid)
                          }
                          else
                          {
                        this.incart[index].itemqty--
                          }
                    }
                },
                activateSlide(imageIndex) {
                this.activeImage = imageIndex;
            },
            get_reviews(){

                axios.get(route('get_reviews'),this.prod_id).then(response =>{

                    return this.product_reviews=response.data.reviews
                }).catch(error => console.log(error))
            }

    }
}
</script>