<template>



    
   <!--Main column-->
                <div class="col-lg-9" >


                    <!--First row-->
              
                    <!-- Grid row -->
 
<div class="row"  :key="products.id" v-for="products in chunkedProducts">
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-lg-0 mb-4" :key="product.id" v-for="product in products">
      <!-- Card -->
      <div class="card card-cascade narrower card-ecommerce">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img :src="'./../../storage/uploads/products/'+product.image" class="card-img-top" alt="sample photo">
          <a @click="showproduct(product.id)">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card image -->
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Category & Title -->
          <a href="" class="grey-text">
            <h5>{{product.quantity}}</h5>
          </a>
          <h4 class="card-title">
            <strong>
              <a href="">{{product.name}}</a>
              
            </strong>
          </h4>
         
          <!-- Description -->
          <p class="card-text">{{product.description}}
          </p>
          <!-- Card footer -->
          <div class="card-footer px-1">
            <span class="float-left font-weight-bold">
              <strong>KES.{{product.price}}</strong>
            </span>
            <span class="float-right">
              <a data-toggle="tooltip" data-placement="top" title="Add to Cart" @click="add_to_cart(product)">
                <i class="fa fa-shopping-cart grey-text ml-3"></i>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Share">
                <i class="fa fa-share-alt grey-text ml-3"></i>
              </a>
              <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                <i class="fa fa-heart ml-3"></i>
              </a>
            </span>
          </div>
        </div>
        <!-- Card content -->
      </div>
      <!-- Card -->
    </div>
    <!-- Grid column -->
  </div>
        
                    <!--/.First row-->

                  
                </div>
                <!--/.Main column-->

          
        
   
</template>
        

<script>

     import {ADD_TO_CART,REMOVE_FROM_CART} from './main_store/mutation-types'

    export default {
        name:'product_category',
       
    
        data(){
            return {

                id:'',
                 items:[],
      
               
            }

        },
        created() {
            
            this.id=this.$route.params.id

           
        },
        mounted(){
this.$store.subscribe((mutation,state)=>{
                 switch(mutation.type) {

                 case 
                 ADD_TO_CART:
                 
                   this.$toastr('info', 'Product added to cart', 'success')
              
                   break
      
                 
                 }
           })
        },
        computed:{
            products(){

              return this.$store.getters.allProducts.filter(p =>{
                  return p.category_id ==this.id
                })
             
            },
            chunkedProducts(){
                return _.chunk(this.products,3)
            }
        
        }
        ,
        methods:{
            add_to_cart(product){

              let found=_.find(this.incart, ['itemId', product.id])
              // if (found){
              //   this.inc(product.id)
              // }
             if(typeof found == 'object') {
               this.inc(product.id)
             }
              else{
               this.$store.dispatch('add_to_cart',{
                 itemId:product.id,
                itemPhoto:product.image,
                itemName:product.name,
                itemPrice:product.price,
                itemqty:1
               })

             }
    
            }
          ,
            showproduct(product_id){

               this.$router.push({name:'product', params:{id:product_id}})
            }
          

        }
       
    }
</script>
