<template>
  <div>

   <form class="form-inline mr-auto">
            <div class="md-form my-0">
                <input class="form-control" id="form-autocomp" v-model="search" type="text" @input="onChange" placeholder="Search Products" aria-label="Search">
                <i class="fa fa-search text-white ml-3" aria-hidden="true"></i>
                 
            </div>
        </form>
         <div v-show="isOpen" class="list-group autocomplete-results">
                      <a href="#" @click="setResult(result)" v-for="(result, i) in results" :key="i" 
                      class="autocomplete-result list-group-item  waves-light">
                        {{result}}</a>
                      
                    </div>
      
       
</div>

</template>
<script>
  export default {
    name:'Autocomp',
   props:{
     products:{
       require:true,
       type:Array
     }
   },
    data() {
      return {
        search:'',
         isOpen: false,
       productItems:[],
       results: [],
      }
    },
    methods: {
   onChange(){
     if(this.search ==''){
       this.isOpen = false
     }else{

       this.isOpen = true
          this.filterResults()
     }
   },
    filterResults() {
      this.productItems= this.products.map(p =>p.name)
        this.results = this.productItems.filter(item => item.toLowerCase().indexOf(this.search.toLowerCase()) > -1);
      },
       setResult(result) {
        this.search = result;
        this.isOpen = false;
      }
      
    }
  
  }
</script>
<style>

  .autocomplete-results {
    padding: 0;
    margin: 0;
    position: absolute;
    /* border: 1px solid #eeeeee; */
    /* height: 120px; */
     width: 300px;
    overflow: auto;
    z-index:1;
  }

  .autocomplete-result {
    /* list-style: none; */
    /* text-align: left; */
    /* padding: 4px 2px; */
     margin: 0;
    cursor: pointer;
     /* width: 200%; */
  }

  .autocomplete-result:hover {
    background-color: #4AAE9B;
    color: white;
  }
</style>
