    /* YOUR CUSTOM STYLES */
    
    .affix {
        top: 0;
        width: 100%;
    }
    /* 
.affix + .container {
    padding-top:2px;

} */
    
    .custom-position {
        left: -10%;
    }
    
    body {
        padding-top: 45px;
    }
    
    .my-ls {
        background-color: #1d4e61;
    }
    
    .my-ls:hover {
        background-color: #2e10d4;
    }
    
    .btn-floating {
        z-index: 1;
        overflow: hidden;
        width: 60px;
        height: 60px;
        padding: 0;
        border-radius: 50%;
        background-color: #388e3c;
        -webkit-transition: .3s;
        transition: .3s;
    }
    /* .btn-floating.btn-large,
    .btn-floating.btn-lg {
        width: 61.1px;
        height: 61.1px;
    } */
    
    .custom-up {
        left: 20px;
        margin-top: 20px;
        position: absolute;
        color: #e0e0e0;
    }
    
    .fixed-action-btn {
        position: fixed;
        z-index: 998;
        right: 35px;
        bottom: 35px;
        padding-top: 15px;
        margin-bottom: 0;
    }
    
    main {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    
    .widget-wrapper {
        padding-bottom: 2rem;
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 2rem;
    }
    
    .reviews {
        text-align: center;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    .price {
        position: absolute;
        left: 0;
        top: 0;
        margin-top: -2px;
    }
    
    .price .tag {
        margin: 0;
    }
    
    .navbar {
        background-color: #388e3c;
    }
    /* .navbar-fixed-bottom, */
    
    .navbar-fixed-top {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030
    }
    
    .sidebar-fixed-left {
        position: fixed;
        top: 100px;
        bottom: 0;
        left: 60px;
        z-index: 1000;
        width: 20%;
        /* padding: 20px;
        padding-right: 0px;
        padding-left: 0px; */
        overflow-x: hidden;
        overflow-y: auto;
        /* border-right: 1px solid */
    }
    
    footer.page-footer {
        background-color: #676b74;
        margin-top: 2rem;
    }
    
    .card {
        font-weight: 300;
    }
    
    .cart-link {
        right: 2px;
    }
    
    .navbar .btn-group .dropdown-menu a:hover {
        color: #000 !important;
    }
    
    .navbar .btn-group .dropdown-menu a:active {
        color: #fff !important;
    }
    
    @media (min-width:544px) {
        .navbar-fixed-bottom,
        .navbar-fixed-top {
            border-radius: 0
        }
    }
    
    .navbar-fixed-top {
        top: 0
    }
    
    .navbar-sticky-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1030;
        width: 100%
    }
    
    @media (min-width:544px) {
        .navbar-sticky-top {
            border-radius: 0
        }
    }
    
    @media (max-width:544px) {
        .sidebar-fixed-left {
            position: relative;
            width: auto;
            top: 5px;
        }
    }
    
    .nav-item .nav-link {
        color: #fff;
        transition: .35s;
    }
    .tweak{
        float: right;
    }