<template>
  
           
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>

                    <div class="col-md-8">
                            <br><br>
                        	<div class=" form-grids row form-grids-right">
                                 <div class="container" v-show="showloader">
                                <stretch></stretch>
                               
                            </div>
						<div class="widget-shadow " data-example-id="basic-forms"> 

                           
							<div class="form-title">
								<h4 class="add_p">NEW CATEGORY :</h4>
							</div>
							<div class="form-body">
								<form class="form-horizontal" v-on:submit.prevent="sendForm"> 
                                    <div class="form-group">
                                     <label for="inputEmail3" class="col-sm-2 control-label">Name:</label> 
                                     &nbsp;
                                     <div class="col-sm-9"> 
                                         <input type="text" :class="{'form-control': true, 'error': errors.has('name') }" v-validate="'required|alpha_dash|max:255'" placeholder="category name" name="name" v-model="category.name" required>
                                        <span v-show="errors.has('name')" class="text-danger">{{ errors.first('name') }}</span>
                                     </div> 
                                    </div> 
                                    <div class="form-group"> 
                                        <label for="inputPassword3" class="col-sm-2 control-label">Description:</label> 
                                        <div class="col-sm-9"> 
                                        <textarea name="description" :class="{'form-control': true, 'error': errors.has('description') }" v-model="category.description"
                                        v-validate="'required|max:255'" placeholder="Describe..." required>

                                        </textarea>
                                        <span v-show="errors.has('description')" class="text-danger">{{ errors.first('description') }}</span>
                                         </div>
                                    </div> 
                                  
                                        <div class="col-sm-offset-2"> 
                                            <button type="submit" class="btn btn-primary" :disabled="errors.any()">  <span class="fa fa-plus" ></span> Add</button> 
                                         </div>
                                         </form> 
							</div>
						</div>
					</div>
                    </div>
                </div>
            </div>



 

    
</template>


<script>
 import { ADD_CATEGORY, ADD_CATEGORY_SUCCESS} from './store/mutation-types'
//  import { mapActions } from 'vuex'

    export default {

        data(){
            return {
                category:{
                    name:'',
                    description:''
                } ,
               
                finalCategory:{},

               
                
                
            }

        },
        created(){

         
            this.$store.subscribe((mutation,state)=>{
                 switch (mutation.type) {
                    
                     case
                      ADD_CATEGORY_SUCCESS:
                     this.$toastr('success', 'category created successfully', 'success')
                     
                    //  this.$router.push({ name: 'add_category'})
                     break

                 }

            })
        },
        watch:{
            finalCategory:{
                 deep: true,
                  handler() {
                       this.copyObject(this.category, this.finalCategory);
                  }
            }
       

        },
       computed:{
            
                 showloader(){

              return this.$store.state.loader
          } 
          
          },
     
           
        
        methods:{
            sendForm(){
                // console.log(this.category)
             this.copyObject(this.finalCategory, this.category);
              console.log(this.finalCategory)
                // if(this.errors)
                this.$store.dispatch('addcategory',{
                    name:this.finalCategory.name,
                    description:this.finalCategory.description
               

                })
                
            },
            copyObject(toSet, toGet) {
                Object.keys(toGet).forEach((key) => {
                      this.$set(toSet, key, toGet[key]);
                });
             }
        }

       
    }
</script>

<style scoped>

.form-control.error {
      border-color: #E84444;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(232,68,68,.6);
    }


</style>
