<template>
    
<div>
<br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">
                 <div class="container" v-show="showloader">
                                <stretch></stretch>
                               
                        </div>
                   <div class="form-grids row widget-shadow" data-example-id="basic-forms"> 
						<div class="form-title">
							<h4 class="add_p">ADD PRODUCT :</h4>
						</div>
						<div class="form-body ">
                          
							<form class="form-horizontal"  enctype="multipart/form-data" @submit.prevent="addproduct">

                                <div class="form-group"> 
                                    <label for="exampleInputFile" class="col-sm-2 control-label">Product image</label> 
                                    <div class="col-sm-8">
                              <img :src="imgpreview" @click=" openupload"  alt="" height="120" width="160" style="cursor: pointer;">

                                        <input type="file" id="image-field"
                                        
                                         @change="updatePreview"
                                          name="photo"
                                        v-validate="'required|image|mimes:jpeg,png|max:2048'"
                                        :class="{'form-control': true, 'error': errors.has('photo') }" 

                                        style="display:none;"
                                        
                                        >
                                         <span v-show="errors.has('photo')" class="text-danger">{{ errors.first('photo') }}</span>

                                    </div>
                                    <div class="col-sm-2">
                                 <!-- <p class="help-block">Example block-level help text here.</p> -->
                                    </div>
                                  </div><br>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">Name</label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="focusedinput"
                                         placeholder="Enter product name" 
                                          :class="{'form-control': true, 'error': errors.has('name') }" 
                                          v-validate="'required|alpha_dash|max:255'"
                                          v-model="product.name"
                                         name="name" required>
                                         <span v-show="errors.has('name')" class="text-danger">{{ errors.first('name') }}</span>

									</div>
									<div class="col-sm-2">
										<!-- <p class="help-block">Your help text!</p> -->
									</div>
								</div>
                                <div class="form-group">
									<label for="selector1" class="col-sm-2 control-label">Category</label>
									<div class="col-sm-8">
                                        <select name="category" id="category" v-model="product.category"  v-validate="'required'"
                                        :class="{'form-control': true, 'error': errors.has('category') }">
                                        <template v-for="category in categories">

										<option :value="category.id"  :key="category.id + '-label'"  >{{category.name}}</option>
                                        </template>
										
										
									</select>
                                    <span v-show="errors.has('category')" class="text-danger">{{ errors.first('category') }}</span>

                                    </div>
								</div>
								
								<div class="form-group">
									<label for="inputprice" class="col-sm-2 control-label">Unit Price</label>
									<div class="col-sm-8">
										<input type="text" name="price" 
                                        :class="{'form-control': true, 'error': errors.has('price') }" 
                                        v-model="product.price"
                                        v-validate="'required|decimal'"
                                         placeholder="unit price in the format x.00"
                                         required>
                                     <span v-show="errors.has('price')" class="text-danger">{{ errors.first('price') }}</span>

									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Quantity</label>
									<div class="col-sm-8">
									<input type="text" :class="{'form-control': true,'error': errors.has('quantity') }" 
                                    v-validate="'required|numeric|integer|min:1'"
                                     name="quantity"
                                      v-model="product.quantity"
                                     placeholder="quantity">
									<span v-show="errors.has('quantity')" class="text-danger">{{ errors.first('quantity') }}</span>

                                    </div>
								</div>
                                  <div class="form-group"> 
                                        <label for="inputPassword3" class="col-sm-2 control-label">Description:</label> 
                                        <div class="col-sm-9"> 
                                        <textarea name="description" :class="{'form-control': true, 'error': errors.has('description') }" v-model="product.description"
                                        v-validate="'required|max:255'" placeholder="Describe..." required>

                                        </textarea>
                                        <span v-show="errors.has('description')" class="text-danger">{{ errors.first('description') }}</span>
                                         </div>
                                  </div>
								<br>
									<div class="form-group">
								
			<button type="submit" id="submit_btn" class="btn btn-primary" :disabled="errors.any()" ><span class="fa fa-plus" ></span>Add product</button>
								
								</div>
							</form>
                           
						</div>
					</div>
            </div>
            <div class="col-md-2"></div>
        </div>
     </div>
</div>



</template>


<script>
 import {ADD_PRODUCT,ADD_PRODUCT_SUCCESS} from './store/mutation-types'
 
//   import { mapGetters, mapState} from 'vuex'
 import { Validator } from 'vee-validate'
     Validator.extend('decimal',
                {
                  getMessage: field => {
                      return 'The field '+ field +' must contain a decimal number to two decimal places x.xx!'
                  },
                   validate: value => {
                        return /^\d*(\.\d{2})?$/.test(value)
                    }
                }
     );

    export default {
        name: 'AddProduct',
        // mixins:[ProductMixin],
        data(){
            return{
              imgpreview:'/images/img_avatar.png',
              msg:'',
             
              product:{
                  photo:'',
                  name:'',
                  category:'',
                  price:'',
                  quantity:'',
                  description:''

                },

                finalProduct:{},
            }
        },
        

                mounted(){
                                // console.log(localStorage.getItem('myvuex').categories)
                            this.$store.dispatch('allcategories')

                           

                              this.$store.subscribe((mutation,state)=>{
                                

                                if(mutation.type==ADD_PRODUCT_SUCCESS){
                                    this.$toastr('success', 'Product created successfully', 'Success')
                                  this.$router.push({ name: 'add_product'})

                                }
                                      
                               
                //     switch (mutation.type) {
                 
                //      case
                //       ADD_PRODUCT_SUCCESS:
                //      this.$toastr('success', 'Product created successfully', 'Success')
                //      this.$router.push({ name: 'add_product'})


                //      break
                     
                //  }

                                    
                              })
                            
                 },

            computed:{
                    categories(){

                        // return window.localStorage.getItem('myvuex').categories
                        return this.$store.getters.categories
                    },

                    showloader(){
                      return this.$store.getters.loader

                    }
               
                
     

            },
        methods:{
           
            addproduct(){

           this.copyObject(this.finalProduct, this.product);
          console.log(this.finalProduct)
          this.$store.dispatch('addProduct',{
              photo:this.finalProduct.photo,
              name:this.finalProduct.name,
              price:this.finalProduct.price,
              quantity:this.finalProduct.quantity,
              description:this.finalProduct.description,
              category:this.finalProduct.category
          })

            },
           
     
            // notifyFileInput(event) {
            //     var fileName = event.target.files[0].name;
            //     // update file name value
            //     this.product.image = fileName;
            // },
             copyObject(toSet, toGet) {
                Object.keys(toGet).forEach((key) => {
                      this.$set(toSet, key, toGet[key])
                })
                    },
                 
            openupload(){
                document.getElementById('image-field').click()

            },
            updatePreview(e){
             
              
                var image=e.target.files[0];
              
                   
                 var  reader= new FileReader()
                reader.readAsDataURL(image);
                reader.onload = (e) =>{
                    this.imgpreview= e.target.result;
                    this.product.photo=this.imgpreview
                    //  console.log(this.product.photo)
                // update file name value
                }

                // let form= new FormData()
                // form.append('photo',image)

            }
           
        },
        watch:{
            finalProduct:{
                deep:true,
                handler(){
                    // this.product={...this.finalProduct}
                     this.copyObject(this.product, this.finalProduct);

                }
            }
        }
    }
</script>
<style scoped>

.form-control.error {
      border-color: #E84444;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(232,68,68,.6);
    }


</style>