<template>
  <div>
<br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-9">

                <div class="search-box">
					<form class="input">
						<input class="sb-search-input input__field--madoka" placeholder="Search products..." type="search" id="input-31" />
						<!-- <label class="input__label" for="input-31">
							<svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
								<path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
							</svg>
						</label> -->
					</form>
				</div>
				<div class="container" v-show="loader">
                                <stretch></stretch>
                               
                        </div>
                 <br><br><br><br>
                 <div class="panel-body widget-shadow">
						<h4>All Products</h4>
						<table class="table">
							<thead>
								<tr>
								  <th>Product_ID</th>
								  <th>Product Image</th>
								  <th>Product Name</th>
								  <th>Price</th>
								  <th>Quantity</th>
								  <th>Edit</th>
								  <th>Delete</th>
								</tr>
							</thead>
							<tbody >
								<tr :key="product.id" v-for="product in allProducts">
								  <td >{{product.id}}</td>
								  <td><img :src="'./../../storage/uploads/products/'+product.image" height="50px" width="50px"></td>
								  <td>{{product.name}}</td>
								  <td>{{product.price}}</td>
								  <td>{{product.quantity}}</td>
								  <td><button class="btn btn-primary" @click="edit_product(product)">Edit</button></td>
								  <td><button class="btn btn-primary" @click="delete_product(product.id)">delete</button></td>
								</tr>
								
							</tbody>
						</table>
						<modal name="Edit-product">
									hello, world!
									</modal>
					</div>

            </div>
                        <div class="col-md-1"></div>

         </div>
     </div>
</div>
</template>
<script>

 import {ALL_PRODUCTS,REMOVE_PRODUCT_SUCCESS,UPDATE_PRODUCT_SUCCESS} from './store/mutation-types'
 import { mapGetters } from 'vuex'
export default {
      
	name: 'allProducts',

	//  data(){
	// 	 	return{
				
	// 			 products:[]
	// 		 }
	//  },

        mounted(){

			this.$store.dispatch('allProducts')
			 this.$store.subscribe((mutation,state)=>{
          
                    switch (mutation.type) {
                 
                     case
                      REMOVE_PRODUCT_SUCCESS:
                     this.$toastr('success', 'product deleted', 'New')
					break
						case
					ALL_PRODUCTS:

					this.$store.state.showloader
					break
					case
					UPDATE_PRODUCT_SUCCESS:
					this.$toastr('success', 'product successfully updated', 'New')
					break
					}
		})
	},
	
			computed:{
				
				...mapGetters([
				'allProducts',
				'loader',
				// ...
				])
			
			},
			methods:{
				delete_product(prod_id){
					this.$store.dispatch('removeProduct',prod_id)

				},
				edit_product(product){

					this.$modal.show('Edit-product');

				},
				//  show () {
				// 	this.$modal.show('Edit-product');
				// },
			hide () {
				this.$modal.hide('Edit-product');
			}

			}
}
</script> 