<template >


     <div >
        <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-10">
                        <br><br>
                        <!-- <div id="page-wrapper"> -->
                              <div class="container" v-show="showloader">
                                <stretch></stretch>
                               
                        </div>
                        <div class="main-page login-page ">
                        <h3 class="title1">SignIn Page</h3>
                        <div class="widget-shadow login-div">
                           
                            <div class="login-body">
                                <form @submit.prevent="login">
                                    <input type="text" v-validate="'required|email'" class="user" v-model="email" name="email" placeholder="Enter your email" required>
                                    <input type="password"  v-validate="'required'" v-model="password" name="password" class="lock" placeholder="password" required>
                                    <input type="submit"  @click="login" value="Sign In">
                                    <div class="forgot-grid">
                                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Remember me</label>
                                        <div class="forgot">
                                            <a href="#">forgot password?</a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                       
                    </div>
                        <!-- </div> -->
                </div>
         
        </div>
                 <!-- <div class="col-md-3"></div> -->

    </div>
</template>
<script>
import{LOGIN,LOGIN_SUCCESS} from './store/mutation-types'
export default {

data(){

    return{

        email:'',
        password:''
    

    }
},
mounted(){
    this.$store.subscribe(mutation=>{
        switch(mutation.type)
        {
            case
            LOGIN_SUCCESS:
             this.$toastr('success', 'Login successfully', 'Success')
             this.$router.push({ name: 'dash'})


        }
    })


    

},
methods:{

    login()
    {

        this.$store.dispatch('login',{
            email:this.email,
            password:this.password
        })
    }
},
computed:{
    showloader(){
                      return this.$store.state.showLoader

                    }
}





}
    
</script>