<template>
    

		<div class="main-content">
				<side-nav v-if="loggedin==true"></side-nav>
				<top-menu v-if="loggedin==true"></top-menu>
				<div>
					
					<router-view ></router-view>
				</div>
		</div>
		

</template>


<script>
import Top from './top-menu'
import SideNav from './side-nav'
import { LOGOUT_SUCCESS } from './store/mutation-types'

    export default {

	name:'root',
	components:{
		'top-menu':Top,
		'side-nav':SideNav
	},

	computed: {

		
	loggedin(){
			return this.$store.state. isLoggedIn
		}

	},
	mounted(){
		 this.$store.subscribe(mutation=>{
        switch(mutation.type)
        {
            case
            LOGOUT_SUCCESS:
            //  this.$toastr('success', 'Login successfully', 'Success')
             this.$router.push({ name: 'login'})


        }

	})

	}			
		

    }
</script>