<template>
  <div>
      <!--left-fixed -navigation-->
		<div class=" sidebar" role="navigation">
            <div class="navbar-collapse">
				<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
					<ul class="nav" id="side-menu">
						<li>
							<router-link :to="{name:'dash'}"><i class="fa fa-home nav_icon"></i>Dashboard </router-link>
						</li>
						
						<li class="">
							<a href="#"><i class="fa fa-check-square-o nav_icon"></i>Products<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level collapse">
								<li>
							<router-link :to="{name:'allProducts'}"><i class="fa fa-plus nav_icon"></i>All Products </router-link>
								</li>
								
								<li>
							<router-link :to="{name:'add_product'}"><i class="fa fa-plus nav_icon"></i>Add Product </router-link>
								</li>
								
								
							</ul>
							<!-- //nav-second-level -->
						</li>
						
								<li>
							<router-link :to="{name:'add_category'}"><i class="fa fa-plus nav_icon"></i>Manage Categories </router-link>
								</li>
							
						<li>
							<router-link to="#"><i class="fa fa-filter nav_icon"></i>orders</router-link>
						</li>
						
						<li>
							<router-link to="#"><i class="fa fa-plus nav_icon"></i>mail </router-link>
						</li>
						
						<li>
							<a href="charts.html" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Reports <span class="nav-badge-btm pull-right">new</span></a>
						</li>
					</ul>
					<!-- //sidebar-collapse -->
				</nav>
			</div>
		</div>
		<!--left-fixed -navigation-->
  </div>
</template>
<script>
export default {
  
}
</script>

